@model GETAF.Models.Entities.Grupo

@{
    ViewData["Title"] = "Membros";
    Layout = "_LayoutTopMenu";
}

<link rel="stylesheet" href="~/css/Membros/Membros.css" />



<ul class="menu">
    <li><a href="#">Tarefas</a></li>
    <li><a href="#">Perguntas</a></li>
    <li><a href="#">Ranking</a></li>
    <li><a onclick="RedirecionarMembros(@Model.Id)">Membros</a></li>
    @{
        var isAdmin = Model.UsuarioId == ViewBag.IdUsuarioLogado;
    }

    @if (isAdmin) {
        <li><a onclick="EntrarConfigGrupo(@Model.Id)">Configurações</a></li>
    }
</ul>

    <div class="invite-container">
    @if (isAdmin)
    {
        <button id="inviteButton" onclick="showInviteModal()">
            <span class="material-symbols-outlined">person_add</span>
        </button>
    }
    else
    {
        <button id="exitButton" onclick="showExitGroup()">
            <span class="material-symbols-outlined">logout</span>
        </button>
    }
    </div>



<h2>Membros - @Model.Nome</h2>
<section class="members-section">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Função</th>
                @if (isAdmin) {
                    <th>Ações</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">@Model.Usuario.Nome</a></td>
                <td>Criador</td>
                @if (isAdmin) {
                    <td></td>                    
                }
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>
</section>

<div id="deleteModal" class="modal" asp-action="DeletedConfirmed">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 class="modal-title">Confirmação de Exclusão</h2>
        <p>Tem certeza de que deseja remover <span id="memberName"></span> do grupo?</p>
        <div class="modal-buttons">
            <button class="modal-button" onclick="confirmDelete()">Excluir</button>
            <button class="modal-button" onclick="closeModal()">Cancelar</button>
        </div>
    </div>
</div>


<div id="inviteModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeInviteModal()">&times;</span>
        <h2 class="nome-grupo">@Model.Nome</h2>
        <h3 class="invite">Convite</h3>
        <p class="texto">Digite o e-mail da pessoa que você quer que faça parte do grupo.</p>
        <input id="Email" type="email" placeholder="E-mail" required>
        <button onclick="AddMembros(@Model.Id)" class="invite-send">Convidar</button>
        <!--
        <hr>
        <p class="or">OU</p>
        <a href="#" type="button" onclick="copyLink()" class="invite-link">Copiar link</a>-->
    </div>
</div>

<div id="exitModal" class="modal">
    <div class="modal-content">
        <div class="head">
            <span>Sair do grupo</span>
            <span class="close" onclick="closeExitGroup()">&times;</span>
        </div>
        <p>Tem certeza que deseja sair do grupo?</p>
        <br />
        <button onclick="exitGroup()" class="exit-button">Sair</button>
    </div>
</div>


<script>
    const userMenu = document.getElementById("user-menu");

    function toggleUserMenu() {
        userMenu.classList.toggle("show");
    }

    function showModal(usuarioNome, usuarioId, grupoId) {
        document.getElementById("memberName").textContent = usuarioNome;
        document.getElementById("deleteModal").setAttribute('data-usuario-id', usuarioId);  
        document.getElementById("deleteModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("deleteModal").style.display = "none";
    }

    function confirmDelete() {
        const usuarioId = document.getElementById("deleteModal").getAttribute('data-usuario-id');  
        const grupoId = @Model.Id;
        RemoveMembros(usuarioId, grupoId);
        closeModal();
    }

    function showInviteModal() {
        document.getElementById("inviteModal").style.display = "block";
    }

    function closeInviteModal() {
        document.getElementById("inviteModal").style.display = "none";
    }

    function sendInvite() {
        alert('Convite enviado com sucesso!');
        closeInviteModal();
    }

    function copyLink() {
        alert('Link copiado!');
    }

    function showExitGroup() {
        document.getElementById("exitModal").style.display = "block";
    }

    function closeExitGroup() {
        document.getElementById("exitModal").style.display = "none";
    }

    function exitGroup() {
        const IdUsuarioLogado = @ViewBag.IdUsuarioLogado;
        const grupoId = @Model.Id;

        $.ajax({
            url: `@Url.Action("ExcluirMembros", "GrupoUsuarios")`,
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                UsuarioId: IdUsuarioLogado,
                GrupoId: grupoId
            }),
            success: function (retorno) {
                if (retorno.sucesso) {
                    retornarGrupos();
                }
                else {
                    alert(retorno.mensagem);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Algo deu errado');
            }
        });
    }

    function ListarMembros(grupoId) {
        $.ajax({
            url: `@Url.Action("ListarMembros", "GrupoUsuarios")?grupoId=` + grupoId,
            contentType: "application/json; charset=utf-8",
            type: "POST",
            success: function (data) {
                const tbody = document.querySelector(".members-section table tbody");
                while (tbody.rows.length > 1) {
                    tbody.deleteRow(1); 
                }
                tbody.innerHTML += data;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Algo deu errado ao tentar listar os membros');
            }
        });
    }


    function AddMembros(grupoId) {
        var usuarioEmail = document.getElementById('Email').value
        $.ajax({
            url: `@Url.Action("AddMembros", "GrupoUsuarios")`,
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({ 
                UsuarioEmail: usuarioEmail,
                GrupoId: grupoId
            }), 
            success: function (retorno) {
                if (retorno.sucesso) {
                    closeInviteModal();
                    var usuarioEmail = document.getElementById('Email').value = ""
                    ListarMembros(grupoId);
                }
                else {
                    alert(retorno.mensagem);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Algo deu errado');
            }
        });
    }

    function RemoveMembros(usuarioId, grupoId) {
        $.ajax({
            url: `@Url.Action("ExcluirMembros", "GrupoUsuarios")`,
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                UsuarioId: usuarioId,
                GrupoId: grupoId
            }),
            success: function (retorno) {
                if (retorno.sucesso) {
                    ListarMembros(grupoId);
                }
                else {
                    alert(retorno.mensagem);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Algo deu errado');
            }
        });
    }

    window.onload = function () {
        ListarMembros(@Model.Id);
    };

    function EntrarConfigGrupo(grupoId) {
        window.location.href = `@Url.Action("EditarGrupo", "Grupo")?grupoId =` + grupoId;
    }
    function retornarGrupos() {
        window.location.href = `@Url.Action("Index", "Grupo")`;
    }
    function RedirecionarMembros(grupoId) {
        window.location.href = `@Url.Action("Membros", "GrupoUsuarios")?grupoId` + grupoId;
    }
</script>