<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>@ViewData["Title"] - UniFocus</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo-container">
                <div class="logo" onclick="RedirecionarHome()">
                    <img src="~/Imagens/logo_nav.png" alt="Logo">
                </div>
                <div class="icons">
                    <a href="#grupos" onclick="RedirecionarGrupos()">
                        <span class="material-symbols-outlined">groups</span>
                        <span class="link-texto">Grupos</span>
                    </a>
                    <a href="#cronometro" onclick="window.location.href='./pomodoro.html'">
                        <span class="material-symbols-outlined">alarm</span>
                        <span class="link-texto">Cronômetro</span>
                    </a>
                    <a href="#ranking" onclick="window.location.href='./ranking.html'">
                        <span class="material-symbols-outlined">star</span>
                        <span class="link-texto">Ranking</span>
                    </a>
                    <a href="#tarefas" onclick="window.location.href='./tarefas.html'">
                        <span class="material-symbols-outlined">view_kanban</span>
                        <span class="link-texto">Tarefas</span>
                    </a>
                </div>
            </div>

            <div id="user-menu" class="user-menu">
                <ul>
                    <li>
                        <a href="#configuracoes" onclick="Configuracoes()">
                            Configurações
                            <span class="material-symbols-outlined">settings</span>
                        </a>
                    </li>

                    <li>
                        <a href="#sair" onclick="OpenExitUniFocus()">
                            Sair
                            <span class="material-symbols-outlined">logout</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="user" onclick="toggleUserMenu()">
                <img src="@Url.Action("GetUserImage", "Configuracao")" alt="Ícone de usuário">
            </div>
        </div>
    </header>
    <div>
        <main>
            <div id="exitUniFocus" class="modal">
                <div class="modal-content">
                    <div class="head">
                        <span>Sair do UniFocus</span>
                        <button class="material-icons" onclick="closeExitUniFocus()">
                            close
                        </button>
                    </div>
                <p>Tem certeza que deseja sair do UniFocus?</p>
                <br/>
                <button onclick="exitUniFocus()" class="exit-button">Sair</button>
                </div>
            </div>
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>

    function OpenExitUniFocus(){
        var menu = document.getElementById('exitUniFocus');
        menu.style.display = 'block';
    }

    function closeExitUniFocus(){
        var menu = document.getElementById('exitUniFocus');
        menu.style.display = 'none';
    }

    function exitUniFocus(){
        RedirecionarLogin();
    }

    function toggleUserMenu() {
        var menu = document.getElementById('user-menu');
        menu.classList.toggle('show');
    }

    function RedirecionarGrupos() {
        window.location.href = '@Url.Action("Index", "Grupo")';
    }

    function RedirecionarHome() {
        window.location.href = '@Url.Action("Index", "Home")';
    }

    function Configuracoes(){
        window, location.href = '@Url.Action("Index", "Configuracao")';
    }

    function RedirecionarLogin(){
        window, location.href = '@Url.Action("Index", "Login")';
    }

    function atualizarImagemPerfil(urlNovaImagem) {
        document.querySelector(".user img").src = urlNovaImagem;
    }
</script>
