@model GETAF.Models.Entities.Grupo

@{
    Layout = "_LayoutTopMenu";

    var isAdmin = Model.UsuarioId == ViewBag.IdUsuarioLogado;
}

<link rel="stylesheet" href="~/css/Grupo/EditarGrupo/Index.css" />

@Html.Partial("_LayoutTopGrupo", new GETAF.Models.ViewModel.MenuViewModel { Id = Model.Id, IsAdmin = isAdmin });

<div class="content">
    <h2>Configurações</h2>
    <div class="profile-box">
        <div class="profile-header">
            <div id="edit">
                <h3>Editar grupo</h3>
                <p>Altere o campo abaixo para editar o nome e a descrição do grupo.</p>
            </div>
        </div>
        <form action="#">
            <section id="sec-nome">
                <input type="text" id="nome-grupo" placeholder="{nome grupo}" value="@Model.Nome">
                <input type="text" id="desc-grupo" placeholder="{descrição grupo}" value="@Model.Descricao">
            </section>
            <div class="button-group">
                <button type="button" class="cancel-btn" onclick="VoltarGrupo(@Model.Id)">Cancelar</button>
                <button type="button" class="confirm-btn" onclick="editGroup(@Model.Id)">Confirmar</button>
            </div>
            <a href="#" class="delete-group" onclick="ExcluirGrupo(@Model.Id)">Deletar grupo</a>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    function VoltarGrupo(grupoId) {
        window.location.href = `@Url.Action("DetalhesGrupo", "Grupo")?grupoId=` + grupoId;
    }
    function ExcluirGrupo(grupoId) {
        window.location.href = `@Url.Action("ExcluirGrupo", "Grupo")?grupoId=` + grupoId;
    }


    function editGroup(idGrupo) {
        event.preventDefault();
        var nome = document.getElementById("nome-grupo").value;
        var descricao = document.getElementById("desc-grupo").value;

        $.ajax({
            url: '@Url.Action("EditarGrupo", "Grupo")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
                id: idGrupo,
                nome: nome,
                descricao: descricao
            }),
            success: function (retorno) {
                if (retorno.sucesso) {
                    VoltarGrupo(idGrupo);
                }
                else alert(retorno.mensagem)

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Algo deu errado');
            }
        });
    }

</script>